/* BACKGROUND COLORS*/
/* TEXT COLORS */
/* OTHER COLORS */
body,
ul,
p,
button,
h1,
h2,
h3,
input {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0; }

.header {
  width: inherit;
  background-image: linear-gradient(to top, #fcfcfd 27.8%, rgba(252, 252, 253, 0) -20%), linear-gradient(115deg, #56ccf2 72%, #fcfcfd 32%);
  padding: 48px 227px 0;
  color: #fff; }
  .header__logo {
    display: inline-block;
    margin-right: 111.5px;
    -webkit-transition: 1s;
    transition: 1s; }
    .header__logo:hover {
      -webkit-transform: scale(2);
              transform: scale(2); }
  .header__info {
    padding-left: 98px;
    margin-top: 80px; }
    .header__info_text {
      margin-top: 22px;
      font-size: 24px;
      letter-spacing: 1px;
      display: block;
      width: 50vw;
      text-align: justify; }
  .header__button {
    width: 226px;
    height: 56px;
    border-radius: 64px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 42px; }
    .header__button:hover {
      background-color: #fcc304; }
    .header__button_link {
      color: #253757 !important; }
  .header__wrapper {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__networks {
    margin-left: 19px;
    padding: 112px 0; }

@media screen and (max-width: 1480px) {
  .header {
    background-image: linear-gradient(to top, #fcfcfd 27.6%, rgba(252, 252, 253, 0) -20%), linear-gradient(115deg, #56ccf2 74%, #fcfcfd 32%);
    padding: 48px 182px 0; } }

@media screen and (max-width: 1366px) {
  .header {
    background-image: linear-gradient(to top, #fcfcfd 26%, rgba(252, 252, 253, 0) -20%), linear-gradient(115deg, #56ccf2 70%, #fcfcfd 32%);
    padding: 48px 182px 0; }
    .header__info {
      padding-left: 82px;
      margin-top: 66px; }
      .header__info_text {
        font-size: 20px; }
    .header__networks {
      margin-left: 0; } }

@media screen and (max-width: 1024px) {
  .header {
    background-image: linear-gradient(to top, #fcfcfd 23.2%, rgba(252, 252, 253, 0) -20%), linear-gradient(115deg, #56ccf2 72%, #fcfcfd 32%);
    padding: 48px 100px 0; }
    .header__logo {
      margin-right: 40px; }
    .header__networks {
      margin-left: 19px;
      padding: 10px 0; } }

@media screen and (max-width: 768px) {
  .header {
    padding: 50px; }
    .header__logo {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .header__networks {
      margin-left: 0;
      padding: 30px 0; } }

@media screen and (max-width: 570px) {
  .header {
    background-color: #56ccf2;
    background-image: none;
    padding: 30px; }
    .header__logo {
      margin-left: 0;
      margin-bottom: 30px;
      border: 1px solid #56ccf2; }
      .header__logo:focus {
        -webkit-transform: none;
                transform: none;
        border: 1px solid #fff; }
    .header__info {
      padding-left: 10px;
      margin-top: 30px; }
      .header__info_text {
        margin-top: 22px;
        font-size: 16px;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        text-align: justify; }
    .header__wrapper {
      margin-top: 30px;
      display: block;
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
    .header__networks {
      margin-left: 19px;
      padding: 50px 0 0; } }

@media screen and (max-width: 425px) {
  .header {
    background-color: #56ccf2;
    background-image: none;
    padding: 20px; }
    .header__logo {
      display: block;
      margin-left: 20px;
      margin-bottom: 20px;
      border: 1px solid #56ccf2; }
      .header__logo:focus {
        -webkit-transform: none;
                transform: none;
        border: 1px solid #fff; }
    .header__info {
      padding-left: 0;
      margin-top: 50px; }
      .header__info_heading {
        text-align: center; }
      .header__info_text {
        margin-top: 22px;
        font-size: 14px;
        letter-spacing: 1px;
        width: 90vw; }
    .header__button {
      width: 226px;
      height: 56px;
      border-radius: 64px;
      background-color: #fff;
      cursor: pointer;
      margin-top: 30px;
      width: 144px;
      height: 36px; }
      .header__button_link {
        color: #253757 !important;
        display: block; }
    .header__wrapper {
      margin-top: 30px;
      display: block;
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
    .header__networks {
      margin: 0;
      padding: 30px 0 0;
      width: 100%; } }

.intro {
  background-color: #fcfcfd;
  padding-top: 165px;
  padding-bottom: 160px; }
  .intro__block {
    width: 755px;
    margin-right: auto;
    margin-left: auto; }
    .intro__block_heading {
      margin-bottom: 19px;
      height: 24px; }
      .intro__block_heading_text {
        margin-left: 16px;
        color: #56ccf2;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        vertical-align: top; }
    .intro__block_text {
      font-weight: 600;
      font-size: 24px; }

@media screen and (max-width: 1024px) {
  .intro {
    padding: 100px; }
    .intro__block {
      width: auto;
      margin-right: auto;
      margin-left: auto; }
      .intro__block_text {
        font-weight: 600;
        font-size: 16px; } }

@media screen and (max-width: 768px) {
  .intro {
    padding: 50px; } }

.services {
  padding: 162px 227px; }
  .services__heading {
    text-align: center; }
  .services__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 162px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .services__block_service {
      width: 264px;
      -webkit-transition: 1s;
      transition: 1s; }
      .services__block_service:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        color: #56ccf2 !important; }
      .services__block_service_image {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        -webkit-box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
                box-shadow: 32px 32px 64px rgba(86, 204, 242, 0.05);
        -webkit-transition: 1s;
        transition: 1s; }
      .services__block_service_heading {
        font-weight: 900;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 32px;
        margin-top: 64px; }
      .services__block_service_text {
        color: #334563;
        text-align: justify; }

@media screen and (max-width: 1280px) {
  .services {
    padding: 130px 180px; } }

@media screen and (max-width: 1024px) {
  .services {
    padding: 100px; } }

@media screen and (max-width: 768px) {
  .services {
    padding: 50px; }
    .services__block {
      margin-top: 50px; }
      .services__block_service {
        margin: 0 10px; } }

@media screen and (max-width: 570px) {
  .services {
    padding: 50px 20px 0; }
    .services__block {
      margin-top: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .services__block_service {
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        .services__block_service_heading {
          margin-top: 24px;
          margin-bottom: 16px; } }

@media screen and (max-width: 425px) {
  .services__block {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .services__block_service {
      margin-bottom: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .services__block_service_heading {
        margin-top: 24px;
        margin-bottom: 16px; } }

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.1; }

.number {
  font-weight: 900;
  font-size: 40px;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%); }

.steps {
  padding: 163px 163px 0;
  border-left: 64px solid #fff;
  border-right: 64px solid #fff;
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .steps__info {
    width: 400px; }
    .steps__info_title {
      margin-bottom: 21px; }
      .steps__info_title_text {
        margin-left: 16px;
        color: #56ccf2;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        vertical-align: top; }
    .steps__info_heading {
      margin-bottom: 64px; }
    .steps__info_text {
      color: #334563;
      text-align: justify; }
  .steps__steps {
    max-width: 538px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 62px; }
    .steps__steps_step {
      width: 240px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fff;
      padding: 48px 32px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
              box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
      -webkit-transition: 1s;
      transition: 1s; }
      .steps__steps_step:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .steps__steps_step:first-child, .steps__steps_step:nth-child(2) {
        margin-bottom: 128px; }
      .steps__steps_step:first-child, .steps__steps_step:nth-child(3) {
        position: relative;
        top: 112px; }
      .steps__steps_step_circle_1 {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4; }
      .steps__steps_step_number_1 {
        color: #56ccf2; }
      .steps__steps_step_circle_2 {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
      .steps__steps_step_number_2 {
        color: #fcc304; }
      .steps__steps_step_circle_3 {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4; }
      .steps__steps_step_number_3 {
        color: #03d542; }
      .steps__steps_step_circle_4 {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
      .steps__steps_step_number_4 {
        color: #f25656; }
      .steps__steps_step_text {
        font-size: 13px;
        text-align: center; }

@media screen and (max-width: 1366px) {
  .steps {
    padding: 130px 130px 0; } }

@media screen and (max-width: 1280px) {
  .steps {
    padding: 90px 90px 0;
    border-left: 52px solid #fff;
    border-right: 52px solid #fff; } }

@media screen and (max-width: 1024px) {
  .steps {
    padding: 100px;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .steps__info {
      width: 250px;
      margin-bottom: 50px; }
      .steps__info_title {
        margin-bottom: 0; }
      .steps__info_heading {
        margin-bottom: 32px; }
    .steps__steps {
      max-width: 500px;
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .steps__steps_step:first-child, .steps__steps_step:nth-child(2) {
        margin-bottom: 50px; }
      .steps__steps_step:first-child, .steps__steps_step:nth-child(3) {
        position: relative;
        top: 60px; } }

@media screen and (max-width: 768px) {
  .steps {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .steps__info {
      width: 400px; }
    .steps__steps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media screen and (max-width: 425px) {
  .steps {
    display: block;
    padding: 20px; }
    .steps__info {
      display: contents;
      width: 400px; }
      .steps__info_heading {
        margin-top: 30px; }
    .steps__steps {
      display: block; } }

.features {
  padding: 198px 0 96px 227px;
  background-image: url(./../images/features/Bg_2.jpg);
  background-size: cover; }
  .features__info {
    width: 400px; }
    .features__info_title {
      margin-bottom: 21px; }
      .features__info_title_text {
        margin-left: 16px;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        vertical-align: top;
        color: #fff; }
    .features__info_heading {
      margin-bottom: 69px; }
    .features__info_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 96px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 64px; }
      .features__info_block_image {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        margin-right: 32px; }
      .features__info_block_text {
        color: white;
        text-align: justify; }

@media screen and (max-width: 1280px) {
  .features {
    padding: 50px 20px;
    background-color: #56ccf2; }
    .features__info {
      width: auto; }
      .features__info_heading_title {
        text-align: center; } }

@media screen and (max-width: 1024px) {
  .features {
    padding: 100px; }
    .features__info {
      width: 400px; } }

@media screen and (max-width: 768px) {
  .features {
    padding: 50px; }
    .features__info {
      width: 400px; } }

@media screen and (max-width: 425px) {
  .features__info {
    width: auto; }
    .features__info_block {
      height: auto; } }

.testimonials {
  padding: 166px 227px 0; }
  .testimonials__title {
    margin-bottom: 21px; }
    .testimonials__title_text {
      margin-left: 16px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
      vertical-align: top;
      color: #56ccf2; }
  .testimonials__heading {
    margin-bottom: 69px;
    width: 400px; }
  .testimonials__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 160px;
    position: relative;
    z-index: 1; }
    .testimonials__block_ellipse-1 {
      background-color: #56ccf2; }
    .testimonials__block_line-1 {
      background-color: #56ccf2; }
    .testimonials__block_position-1 {
      color: #56ccf2; }
    .testimonials__block_ellipse-2 {
      background-color: #fcc304; }
    .testimonials__block_line-2 {
      background-color: #fcc304; }
    .testimonials__block_position-2 {
      color: #fcc304; }
    .testimonials__block_ellipse-3 {
      background-color: #f25656; }
    .testimonials__block_line-3 {
      background-color: #f25656; }
    .testimonials__block_position-3 {
      color: #f25656; }

@media screen and (max-width: 1366px) {
  .testimonials {
    padding: 166px 160px 0; } }

@media screen and (max-width: 1024px) {
  .testimonials {
    padding: 100px; }
    .testimonials__title {
      margin-bottom: 30px; }
    .testimonials__heading {
      margin-bottom: 80px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .testimonials__block {
      top: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 50px; }
    .testimonials__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 50px; } }

@media screen and (max-width: 425px) {
  .testimonials__heading {
    width: auto; }
  .testimonials__block {
    display: block; } }

.vpr {
  background-color: #fcfcfd;
  padding: 320px 423px 256px;
  text-align: center;
  position: relative; }
  .vpr__title {
    margin-bottom: 57px; }
  .vpr__text {
    font-weight: 600;
    font-size: 24px;
    color: #334563;
    margin-bottom: 55px; }
  .vpr__button {
    width: 226px;
    height: 56px;
    border-radius: 64px;
    background-color: #2f80ed;
    cursor: pointer;
    font-size: 16px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white; }
    .vpr__button:hover {
      background-color: #fcc304; }

.oval-1 {
  width: 85px;
  height: 34px;
  border: 4px solid #f25656;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 220px;
  left: 233px; }

.oval-2 {
  width: 45px;
  height: 18px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 225px;
  left: 446px; }

.oval-3 {
  width: 67px;
  height: 27px;
  border: 4px solid #56ccf2;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 518px;
  left: 82px; }

.oval-4 {
  width: 143px;
  height: 57px;
  border: 4px solid #03d542;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 431px;
  left: 269px; }

.oval-5 {
  width: 94px;
  height: 37px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 666px;
  left: 131px; }

.oval-6 {
  width: 45px;
  height: 18px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 613px;
  left: 481px; }

.oval-7 {
  width: 54px;
  height: 21px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 257px;
  right: 111px; }

.oval-8 {
  width: 143px;
  height: 57px;
  border: 4px solid #03d542;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 279px;
  right: 216px; }

.oval-9 {
  width: 86px;
  height: 34px;
  border: 4px solid #fcc304;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 424px;
  right: 67px; }

.oval-10 {
  width: 85px;
  height: 34px;
  border: 4px solid #f25656;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 533px;
  right: 314px; }

.oval-11 {
  width: 45px;
  height: 18px;
  border: 4px solid #bc04fc;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 662px;
  right: 553px; }

.oval-12 {
  width: 154px;
  height: 61px;
  border: 4px solid #56ccf2;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  opacity: 0.5;
  top: 561px;
  right: 144px; }

@media screen and (max-width: 1366px) {
  .oval-11 {
    right: 500px; } }

@media screen and (max-width: 1280px) {
  .vpr {
    padding: 320px 320px 256px; }
  .oval-4 {
    width: 143px;
    height: 57px;
    border: 4px solid #03d542;
    border-radius: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    opacity: 0.5;
    top: 431px;
    left: 210px; }
  .oval-6 {
    width: 45px;
    height: 18px;
    border: 4px solid #fcc304;
    border-radius: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    opacity: 0.5;
    top: 613px;
    left: 400px; }
  .oval-8 {
    width: 143px;
    height: 57px;
    border: 4px solid #03d542;
    border-radius: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    opacity: 0.5;
    top: 279px;
    right: 180px; }
  .oval-11 {
    width: 45px;
    height: 18px;
    border: 4px solid #bc04fc;
    border-radius: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    opacity: 0.5;
    top: 662px;
    right: 450px; } }

@media screen and (max-width: 1024px) {
  .vpr {
    padding: 50px 20px; }
    .vpr__title {
      margin-bottom: 36px; }
  .oval-1,
  .oval-2,
  .oval-3,
  .oval-4,
  .oval-5,
  .oval-6,
  .oval-7,
  .oval-8,
  .oval-9,
  .oval-10,
  .oval-11,
  .oval-12 {
    display: none; } }

.contactUs {
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 227px 136px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contactUs__message_title {
    margin-bottom: 104px; }
  .contactUs__message_text[type="text"] {
    display: block;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fcfcfd;
    width: 656px;
    height: 40px;
    font-family: "Muli", sans-serif;
    font-size: 14.4px;
    line-height: 150%;
    color: #152032;
    font-weight: 700;
    margin-bottom: 48px; }
    .contactUs__message_text[type="text"]:focus {
      outline: none;
      border-bottom: 1px solid #f25656; }
  .contactUs__contact {
    width: 400px; }
    .contactUs__contact_contact {
      margin-bottom: 19px; }
    .contactUs__contact_title {
      margin-bottom: 43px; }
    .contactUs__contact_text-1 {
      font-weight: 800;
      font-size: 12.6px;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .contactUs__contact_text-2 {
      font-weight: 900;
      font-size: 24px;
      color: #56ccf2;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 43px; }
  .contactUs__button {
    margin-top: 57px; }

.socLink {
  margin-right: 48px; }
  .socLink__icon {
    -webkit-transition: 1s;
    transition: 1s; }
    .socLink__icon:hover {
      -webkit-transform: scale(2);
              transform: scale(2); }

@media screen and (max-width: 1480px) {
  .contactUs {
    padding: 0 227px 136px; }
    .contactUs__message_text[type="text"] {
      width: 500px; } }

@media screen and (max-width: 1366px) {
  .contactUs {
    padding: 0 189px 136px; }
    .contactUs__message_text[type="text"] {
      width: 450px; } }

@media screen and (max-width: 1280px) {
  .contactUs {
    padding: 0 160px 136px; } }

@media screen and (max-width: 1024px) {
  .contactUs {
    padding: 100px;
    display: block; }
    .contactUs__message_title {
      margin-bottom: 30px; }
    .contactUs__message_text[type="text"] {
      max-width: 80vw; }
    .contactUs__contact {
      width: auto;
      margin-top: 50px; }
      .contactUs__contact_contact {
        margin-bottom: 19px; }
      .contactUs__contact_title {
        margin-bottom: 43px; }
      .contactUs__contact_text-1 {
        font-weight: 800;
        font-size: 12.6px;
        letter-spacing: 2px;
        text-transform: uppercase; }
      .contactUs__contact_text-2 {
        font-weight: 900;
        font-size: 24px;
        color: #56ccf2;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 43px; }
    .contactUs__button {
      margin-top: 0; } }

@media screen and (max-width: 425px) {
  .contactUs {
    padding: 20px; } }

.footer {
  background-color: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 227px 83px;
  font-weight: 700; }

@media screen and (max-width: 1024px) {
  .footer {
    display: none; } }

.nav {
  display: inline-block;
  height: 32px;
  line-height: 1; }
  .nav__link {
    margin: auto 31.5px; }
  .nav__spec {
    margin-left: 98.5px;
    margin-right: 0;
    position: relative; }
    .nav__spec::after {
      content: "";
      height: 4px;
      width: 120%;
      background-color: #fcc304;
      border-radius: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px); }

@media screen and (max-width: 1366px) {
  .nav__logo {
    margin-right: 89px; }
  .nav__link {
    margin: auto 25px; }
  .nav__spec {
    margin-left: 79px !important; } }

@media screen and (max-width: 1024px) {
  .nav__link {
    margin: auto 25px; }
  .nav__spec {
    margin-left: 25px !important; } }

@media screen and (max-width: 768px) {
  .nav {
    display: block;
    text-align: center;
    margin-top: 30px; }
    .nav__link {
      margin: auto 25px auto 0;
      display: inline-block; }
    .nav__spec {
      margin-left: 0 !important;
      margin-right: 0; } }

@media screen and (max-width: 425px) {
  .nav {
    display: inline-block;
    height: 32px;
    line-height: 1;
    text-align: inherit; }
    .nav__link {
      margin: auto 20px;
      border: 1px solid #56ccf2;
      display: block; }
    .nav__spec {
      margin-left: 20px !important; }
      .nav__spec::after {
        content: none; } }

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: inherit;
  font-family: Muli, sans-serif; }
  .link:hover {
    color: black; }

@media screen and (max-width: 1366px) {
  .link {
    font-size: 13px; } }

@media screen and (max-width: 1280px) {
  .link {
    font-size: 12px; } }

@media screen and (max-width: 1024px) {
  .link {
    font-size: 16px;
    line-height: 2; } }

.slider {
  position: relative; }
  .slider__image {
    width: 1146px;
    height: 640px; }
  .slider__intro {
    position: absolute;
    left: 98px;
    bottom: 86px; }
    .slider__intro_heading {
      color: #56ccf2;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 12.6px;
      letter-spacing: 2px;
      margin-bottom: 4px; }
    .slider__intro_text {
      font-weight: 900;
      font-size: 19.6px;
      line-height: 1.4; }
  .slider__button {
    position: absolute;
    left: -80px;
    top: calc(50% - 31px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px; }
    .slider__button_left {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_left.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      border-top-left-radius: 64px;
      border-bottom-left-radius: 64px; }
      .slider__button_left:hover {
        background-color: black; }
      .slider__button_left:focus {
        outline: none; }
    .slider__button_right {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_right.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      border-top-right-radius: 64px;
      border-bottom-right-radius: 64px; }
      .slider__button_right:hover {
        background-color: black; }
      .slider__button_right:focus {
        outline: none; }

.carousel {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX();
          transform: translateX(); }

.container {
  width: 1146px;
  height: 640px;
  overflow: hidden;
  position: relative; }

@media screen and (max-width: 1366px) {
  .slider__image {
    width: 917px;
    height: 533px; }
  .container {
    width: 917px;
    height: 533px; } }

@media screen and (max-width: 1024px) {
  .slider__image {
    width: 700px;
    height: 400px; }
  .container {
    width: 700px;
    height: 400px; } }

@media screen and (max-width: 768px) {
  .slider__image {
    width: 600px;
    height: 400px; }
  .slider__intro {
    left: 60px;
    bottom: 60px; }
  .slider__button {
    top: calc(100% - 32px);
    left: calc(50% - 80px); }
  .container {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 570px) {
  .slider__image {
    width: 360px;
    height: 201px; }
  .slider__intro {
    left: 30px;
    bottom: 30px; }
    .slider__intro_heading {
      font-size: 10px; }
    .slider__intro_text {
      font-size: 13px; }
  .slider__button {
    width: 80px;
    top: calc(100% - 16px);
    left: calc(50% - 40px); }
    .slider__button_left {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_left.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      width: 40px;
      height: 32px; }
      .slider__button_left:hover {
        background-color: black; }
      .slider__button_left:focus {
        outline: none; }
    .slider__button_right {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_right.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      width: 40px;
      height: 32px; }
      .slider__button_right:hover {
        background-color: black; }
      .slider__button_right:focus {
        outline: none; }
  .container {
    width: 360px;
    height: 201px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 425px) {
  .slider__image {
    width: 280px;
    height: 176px; }
  .slider__intro {
    left: 20px;
    bottom: 20px; }
    .slider__intro_heading {
      font-size: 10px; }
    .slider__intro_text {
      font-size: 13px; }
  .slider__button {
    width: 80px;
    top: calc(100% - 16px);
    left: calc(50% - 40px); }
    .slider__button_left {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_left.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      width: 40px;
      height: 32px; }
      .slider__button_left:hover {
        background-color: black; }
      .slider__button_left:focus {
        outline: none; }
    .slider__button_right {
      background-color: #fcc304;
      background-image: url(./../images/slider/Vector_right.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 64px;
      width: 80px;
      cursor: pointer;
      width: 40px;
      height: 32px; }
      .slider__button_right:hover {
        background-color: black; }
      .slider__button_right:focus {
        outline: none; }
  .container {
    width: 280px;
    height: 168px;
    margin-left: auto;
    margin-right: auto; } }

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .networks__link {
    text-decoration: none;
    color: #253757;
    font-weight: 800;
    font-size: 12.6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
    .networks__link:hover {
      color: #fcc304; }

@media screen and (max-width: 1024px) {
  .networks {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media screen and (max-width: 768px) {
  .networks {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media screen and (max-width: 425px) {
  .networks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .networks__link {
      font-size: 10px;
      -webkit-transform: none;
              transform: none; } }

.testimonials__card {
  width: 314px;
  height: 464px;
  padding: 0 32px;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fefefe; }
  .testimonials__card:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 1;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .testimonials__card_image {
    position: relative;
    height: 240px; }
    .testimonials__card_image_ellipse {
      width: 162px;
      height: 64px;
      border-radius: 32px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      position: absolute;
      top: 86px;
      left: calc(50% - 81px); }
    .testimonials__card_image_photo {
      position: absolute;
      top: 90px;
      left: 70px; }
  .testimonials__card_text {
    text-align: center;
    font-size: 14.4px;
    font-style: italic;
    margin-bottom: 31px; }
  .testimonials__card_line {
    width: 64px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto 31px; }
  .testimonials__card_name {
    font-size: 12.6px;
    font-weight: 700;
    color: #152032; }
  .testimonials__card_position {
    font-weight: 800;
    font-size: 12.6px;
    letter-spacing: 2px;
    text-transform: uppercase; }

@media screen and (max-width: 1280px) {
  .testimonials__card {
    width: 280px;
    height: 436px;
    -webkit-box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.05);
            box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.05);
    padding: 0 24px; }
    .testimonials__card_image {
      position: relative;
      height: 240px; }
      .testimonials__card_image_photo {
        position: absolute;
        top: 90px;
        left: 60px; } }

@media screen and (max-width: 570px) {
  .testimonials__card {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 425px) {
  .testimonials__card {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

.author {
  -webkit-animation: changingColors 30s linear infinite;
          animation: changingColors 30s linear infinite;
  text-decoration: none; }

@-webkit-keyframes changingColors {
  0% {
    color: black; }
  10% {
    color: blue; }
  30% {
    color: green; }
  50% {
    color: yellow; }
  70% {
    color: orange; }
  90% {
    color: red; }
  100% {
    color: black; } }

@keyframes changingColors {
  0% {
    color: black; }
  10% {
    color: blue; }
  30% {
    color: green; }
  50% {
    color: yellow; }
  70% {
    color: orange; }
  90% {
    color: red; }
  100% {
    color: black; } }

html,
body {
  color: #253757;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: Muli, sans-serif; }

h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.5;
  font-style: normal; }

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1; }

h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4; }

@media screen and (max-width: 1024px) {
  h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    font-style: normal; }
  h2 {
    font-size: 36px; }
  h3 {
    font-size: 24px; } }

/*# sourceMappingURL=main.css.map */
